<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>规范，想法，实现</h1>
            <ul>
                <li>CQRS,ES</li>
                <li>周报，工作计划，提交，审阅，生成任务</li>
                <li><a href="/WeekReport/List">进入</a></li>
            </ul>
        </div>
    </div>
</div>
